# Python
.venv/
__pycache__/
*.pyc

# Environment
.env

# Mac
.DS_Store

# Logs
*.log

# LaTeX build files
*.aux
*.out
*.toc
*.synctex.gz

# Cache
responses_cache/

# Specific files
draft_example/LambdaXiK_fit.pdf
draft_example/authorlist_2026-01-10.tex
draft_example/compare9_36_cJ.pdf
draft_example/compare9_37_cJ.pdf
draft_example/draftNotes.bib
draft_example/orcidIcon.pdf